@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

:root {
	--primary-color: #0d9488;
	--light-color: #ffffff;
}

body {
	font-family: 'Caveat', cursive;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/** nav **/

.navigation {
	background-color: var(--primary-color);
	padding: 1rem 1rem;
}

.nav-brand {
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
}

/** header **/
.hero {
	padding-top: 3rem;
}

.hero .hero-img {
	max-height: 400px;
	max-width: 500px;
	display: block;
	margin: auto;
}

.hero .hero-heading {
	text-align: center;
	padding-top: 1rem;
	color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
	color: var(--primary-color);
}

/** container **/

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/** textArea **/

textarea {
	width: 50%;
	height: 15vh;
	display: block;
	margin: 1rem;
	padding: 1rem;
}

/** button **/

button {
	background-color: var(--primary-color);
	font-family: inherit;
	font-size: 1.5rem;
	padding: 1rem 3rem;
	margin: 1rem;
}

/** output Area **/

#output {
	border: 1px solid black;
	height: 15vh;
	width: 50%;
	margin: 1rem;
	margin-bottom: 2rem;
	padding: 1rem;
}

/** footer **/

.footer {
	background-color: var(--primary-color);
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer .footer-header {
	font-weight: bold;
	font-size: 2.5rem;
}

.footer p {
	width: 50%;
	font-size: 1.5rem;
	text-align: justify;
}
